body{
	padding: 0 auto;
	margin: 0 auto;
	wdith: 100%;
	text-align: center;
	font: calibri, tahoma, arial;
}

.Nav {
	padding: 0;
	margin: 0;
	width: 100%;
	border-bottom: thick;
}

.Nav span{
	width:50%;
	display: inline;	
	float: left;
	padding-top: 5%;
	padding-bottom: 5%;
	border-bottom: thick solid orange;
}

.Nav #a{
	
}

.Nav #b{
}

#Logo {
	font-size: 50pt;
	text-outline: #33f;
	background-image:url(res/logo_90s_theme_1.png);
	height: 200px;
	background-size: contain;
}

#JoinBtnContainer Button{
	margin: 50px;
	padding: 20px 50px 20px 50px;
	font-size: 20pt;
	background: #fff;
	border: none;
}

#leaderboard {
	margin: 0 auto;
	width: 80%;
	background-color: #eee;
	min-height: 50px;
	text-decoration: inherit;
}

#leaderboard ul li {
	list-style: none;
}

#leaderboard span{
	text-decoration: none;
	width: 50%;
	float: left;
	display: inline-block;
}
