*{
	transition: ease all 0.5s;
}

body{
	padding: 0 auto;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	text-font: "Courier New", Courier, monospace;
}

.Nav {
	padding: 0;
	margin: 0;
	width: 100%;
	border-bottom: thick;
}

.Nav span{
	width:50%;
	display: inline;	
	float: left;
	padding-top: 3vh;
	padding-bottom: 3vh;
	border-bottom: thick solid orange;
	background-color: #fff;
}

.Nav #b:hover{
	transition: ease all 0.5s;
	color: white;
	background-color: orange;
	cursor: pointer;
}

.Nav #a:hover{
	cursor: url(res/curhand1.png), auto;
	background-color: #C0C0C0;
	transition: none;
}

.Nav #a{
	transition: none;
}

.Nav #b{
	transition: ease all 1s;
}

#Logo {
	padding: 25px;
	background: none;
}

#Logo90s{
	display: none;
}

@font-face {
    font-family: "Roboto-Thin";
    src: url("res/Roboto-Thin.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("res/Roboto-Regular.ttf");
}

#LogoCurrent{
	width: 80vw;
	margin: 0 auto;
	margin-top: 5vh;
	padding: 5vh 0 5vh 0;
	display: inline-block;
	font-family: "Roboto-Thin";
	font-size: 90pt;
	font-style: bold;
	border: thick solid orange;
	color: orange;
	text-height: 300px;
	cursor: default;
}

#LogoCurrent img {
	display: inline-block;
	height: 115px;
	margin-right: 2vw;
}

#seperator{
	width: 100%;
	height: 5px;
	border-bottom: thick solid orange;
}

button{
	min-width: 100px;
	height: 50px;
	text-size: 24pt;
	background-color: white;
	border: thick solid orange;
	color: orange;
	font-size: 18pt;
	transition: ease all 1s;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 25px;
	margin-top: 25px;
}

.floating{
	position: absolute;
	float: right;
	right: 1vw;
	top: -1.5vh;
}

button:hover{
	background: orange;
	color: white;
	transition: ease all 0.5s;
	cursor: pointer;
}

button:focus{
  outline:none;
}

#instructions{
	background-color: #fff;
	width: 80vw;
	margin: 0 auto;
	border: thick solid orange;
	font-family: "Roboto";
	font-size: 16pt;
	margin-bottom: 25px;
	transition: ease all 1s;
}

#instructionstext{
	display: none;
	transition: ease all 1s;
}

#instructionstext:focus{
	transition: ease all 1s;
}

#leaderboardContainer{
	background-color: #fff;
	width: 80vw;
	margin: 0 auto;
	border: thick solid orange;
	font-family: "Roboto";
	font-size: 16pt;
}

#leaderboard {
	margin: 0 auto;
	text-decoration: inherit;
	padding: 2vh;
	padding-left: 0;
	padding-right: 0;
}

ul{
	list-style: none;
	width: 100%;

	padding: 0;
}

ul li span{
	width: 40%;
	display: inline-block;
}

ol{
	width: 80%;
	min-height: 50px;
}

#leaderboard span{
	text-decoration: none;
	width: 50%;
	float: left;
	display: inline-block;
}
