*{
	cursor: url(res/cur1.png), auto;
	transition: ease all 0.5s;
}

#instructions{
	display: none;
}

body{
	padding: 0 auto;
	margin: 0 auto;
	wdith: 100%;
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	text-font: "Courier New", Courier, monospace;
	background: url(res/bee90s_c.gif);
	background-repeat:space;	
}

.Nav {
	padding: 0;
	margin: 0;
	width: 100%;
	border-bottom: thick;
}

.Nav span{
	width:50%;
	display: inline;	
	float: left;
	padding-top: 3vh;
	padding-bottom: 3vh;
	border-bottom: thick solid grey;
	background-color: #fff;
}

.Nav #b:hover{
	transition: ease all 0.5s;
	color: white;
	background-color: orange;
	cursor: pointer;
}

.Nav #a:hover{
	cursor: url(res/curhand1.png), auto;
	background-color: #C0C0C0;
}

.Nav #a{
	
}

.Nav #b{
	transition: ease all 1s;
}

#Logo {
	padding: 25px;
}

#LogoCurrent{
	display: none;
}

#seperator{
	width: 80%;
	margin-left: 10%;
	height: 5px;
	border-bottom: thick solid grey;
}

/*#JoinBtnContainer Button{
	margin: 50px;
	padding: 20px 50px 20px 50px;
	font-size: 20pt;
	background: #fff;
	border: none;
}*/

button{
	width: 300px;
	height: 100px;
	text-size: 24pt;
	margin:2px 2px 2px 0;
	background:#C0C0C0;
	border-width:5px;
	border-color:#FFFFFF #808080 #808080 #FFFFFF;
	padding:0;
	font-family:Tahoma;
	text-align:center;
	focus:none;
}

button:focus{
  outline:none;
}

#leaderboardContainer{
	background-color: #fff;
	width: 80%;
	margin: 0 auto;
}

#leaderboard {
	margin: 0 auto;
	min-height: 50px;
	text-decoration: inherit;
}

ul{
	list-style: none;
	width: 80%;
	padding-top: 20px;
}

ul li span{
	width: 40%;
	display: inline-block;
}

ol{
	width: 80%;
	min-height: 50px;
	padding-top: 25px;
}

#leaderboard span{
	text-decoration: none;
	width: 50%;
	float: left;
	display: inline-block;
	paddiing: 25px;
}
